.app {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 800px;

}

.app h1 {
  padding: 0.2em 0 0.7em 0;
  font-size: 2em;
}

.app h2 {
  padding: 0.2em 0 0.7em 0;
  font-size: 1.6em;
}

.app h3 {
  padding: 0.2em 0 0.7em 0;
  font-size: 1.2em;
}

.config {
  padding-bottom: 20px;
}

.label {
  padding-right: 20px;
}

.input {
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.content {
  margin: 10px;
  padding: 10px;
  max-width: 800px;
  border: 1px solid green;
  border-radius: 10px;
}
